@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Black.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.text-12 {
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  font: bold;
  letter-spacing: 0%;
}


body {
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  overflow-x: hidden;
  
}

main {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}
footer {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

nav {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 110px;
  padding-left: 110px;
  background-color: rgba(255, 255, 255, 0);
  
}

nav > div:first-child {
  flex: 0 0 auto;
}

nav > div:nth-child(2) {
  flex: 1;
  justify-content: end;
  padding-right: 250px;
}

nav > div:nth-child(2) a {
  margin-right: 71px;
}

nav > div:nth-child(2) a:last-child {
  margin-right: 0;
}

nav > div:last-child {
  flex: 0 0 auto;
  justify-content: flex-end;
}

nav > div:last-child a:first-child {
  margin-right: 51px;
}

.section-hero {
  padding-left: 110px;
  padding-top: 250px;
  padding-right: 110px;
  min-height: 100vh;
}
/* .section-hero .icons {
  margin-top: 198px;
} */

.filter-red {
  filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(2768%) hue-rotate(338deg) brightness(99%) contrast(92%);
}

.social-icon-wrapper:hover img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(2768%) hue-rotate(338deg) brightness(99%) contrast(92%);
}

.section-hero > h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: 0%;
  margin-bottom: 0;
  color: #FFFFFF;
}

.section-hero > h1 {
  font-size: 96px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: 0%;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.92);
}

.section-hero > h1 > span {
  font-weight: 900;
  color: #FFFFFF;
}

.gradient-border {
  border: 1px solid transparent;
  background: 
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #464646, #F43E46, #464646) border-box;
}
.section-service {
  padding-bottom: 200px!important;
  position: relative;
}

.section-service,
.section-about {

  height: auto;
  padding-top: 80px;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 80px;
}

.section-about {
  padding-bottom: 55px!important;
  padding-top: 90px!important;
  padding-left: 67px!important;
  padding-right: 67px!important;
}

#services h3 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400 !important;
  font-size: 76px;
  line-height: 91px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.82);
}

.section-about > h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 91px;
  letter-spacing: 0%;
  color: #FFFFFFF0;
}

.right-side-about > div:last-child {
  border-bottom: none !important;
}
.footer {
  padding-top: 5px;
  padding-right: 110px;
  padding-left: 110px;
  padding-bottom: 60px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  /* border: solid 1px white; */
  position: relative;
  /* height: 1000px!important; */
}
.footer > p {
  color: rgba(255, 255, 255, 0.92);
}
.footer > h3 > div {
  letter-spacing: 0%;
  margin-bottom: 0;
  color: #FFFFFF;

}


/* LEPTOP VERSION ****** ****** ****** ****** ****** ****** ******* ******* ****** ****** ****** ******* LEPTOP VERSION */
@media screen and (max-width: 1700px) and (min-width: 900px) {

  /* header section */
  nav {
    padding-left: 70px;
    padding-right: 70px;
  }

  /* section hero <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .section-hero {
      padding-left: 70px;
      padding-top: 200px;
      padding-right: 70px;
  }
 
  .section-hero > h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .section-hero .icons {
    margin-top: 120px;
  }

  .section-hero > h2 {
    font-size: 32px;
    line-height: 50px;
  }

  /* Service sections <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  */
  .section-service {
    padding-left: 70px;
    padding-right: 70px;
  }
  .section-service h2 {
    font-size: 85px;
  }
  .section-service .left-side-offers h3 {
    font-size: 60px!important;
  }
  .section-service .left-side-offers p {
    font-size: 25px!important;
  }
  .section-service .right-side-offers h3 {
    font-size: 60px!important;
  }
  .section-service .right-side-offers p {
    font-size: 25px!important;
  }
  .services h3 {
    font-size: 60px;
    line-height: 70px;
  }

  

  /* about section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  */
  .section-about {
    padding-left: 40px!important;
    padding-right: 40px!important;
  }

  .section-about .left-side-about {
    align-items: center!important;
  }
  .section-about .left-side-about h2 {
    font-size: 90px!important;
  }
  .section-about .left-side-about p {
    font-size: 25px!important;
  }
  .section-about .right-side-about h3 {
    font-size: 35px!important;
  }
  .section-about .right-side-about p {
    font-size: 20px!important;
  }


  /* footer section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  */
  .footer {
    padding-left: 90px;
    padding-right: 90px;
  }

  .footer .question-section > div {
    padding-top: 35px!important;
  }

  .footer .form {
    gap: 20px!important;
  }
  .footer .form > div {
    gap: 35px!important;
  }

  .footer form p {
    font-size: 14px!important;
  }
  .footer form input {
    font-size: 16px!important;
  }
  .footer form textarea {
    font-size: 16px!important;
  }
  .footer form button {
    font-size: 16px!important;
  }



  .footer .contact-section {
    padding-top: 58px!important;
  }

  .footer .contact-container  h3 {
    font-size: 16px!important;
  }
  .footer .contact-container  p {
    font-size: 14px!important;
  }

  .footer .connect-container h3 {
    font-size: 16px!important;
  }
  .footer .connect-container p {
    font-size: 14px!important;
  }

  .footer .home-container h3 {
    font-size: 16px!important;
  }
  .footer .home-container p {
    font-size: 14px!important;
  }
}



/* TABLET version ****** ****** ****** ****** ****** ****** ****** ****** ****** ****** ****** ******  TABLET VERSION */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  /* header section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }

  nav > div:nth-child(2) {
    padding-right: 150px;
  }

  nav > div:nth-child(2) a {
    margin-right: 40px;
  }

  /* section hero <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .section-hero {
    padding-left: 50px;
    padding-top: 180px;
    padding-right: 50px;
  }

  .section-hero > h1 {
    font-size: 64px;
    line-height: 75px;
  }

  .section-hero .icons {
    margin-top: 100px;
  }

  .section-hero > h2 {
    font-size: 28px;
    line-height: 45px;
  }

  /* Service sections <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .section-service {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-service h2 {
    font-size: 70px;
    line-height: 80px;
  }

  .section-service .left-side-offers h3 {
    font-size: 40px!important;
  }

  .section-service .left-side-offers p {
    font-size: 22px!important;
  }

  .section-service .right-side-offers h3 {
    font-size: 40px!important;
  }

  .section-service .right-side-offers p {
    font-size: 22px!important;
  }

  .services h3 {
    font-size: 50px;
    line-height: 60px;
  }

  /* about section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .section-about {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }

  .section-about .left-side-about {
    align-items: center!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .section-about .left-side-about h2 {
    font-size: 55px!important;
    line-height: 85px!important;
  }

  .section-about .left-side-about p {
    font-size: 22px!important;
  }

  .section-about .right-side-about h3 {
    font-size: 30px!important;
  }

  .section-about .right-side-about p {
    font-size: 18px!important;
  }

  /* footer section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .footer {
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer .question-section > div {
    padding-top: 30px!important;
  }

  .footer .form {
    gap: 18px!important;
  }

  .footer .form > div {
    gap: 30px!important;
  }

  .footer form p {
    font-size: 13px!important;
  }

  .footer form input {
    font-size: 15px!important;
  }

  .footer form textarea {
    font-size: 15px!important;
  }

  .footer form button {
    font-size: 15px!important;
  }

  .footer .contact-section {
    padding-top: 50px!important;
  }

  .footer .contact-container h3 {
    font-size: 15px!important;
  }

  .footer .contact-container p {
    font-size: 13px!important;
  }

  .footer .connect-container h3 {
    font-size: 15px!important;
  }

  .footer .connect-container p {
    font-size: 13px!important;
  }

  .footer .home-container h3 {
    font-size: 15px!important;
  }

  .footer .home-container p {
    font-size: 13px!important;
  }
}